/* --------------------------------------------------------------
   MEDIA QUERIES
   -------------------------------------------------------------- */

/* ====== MAX-WIDTH (Mobile First) ====== */
@media (max-width: 1600px) {}

@media (max-width: 1440px) {
   .header {
      .menu-nav {
         gap: 20px;
      }

      .header-ct-right {
         .wrap-login-menu {
            ul {
               gap: 20px;
            }
         }
      }
   }

}

@media (max-width: 1199px) {
   .header {

      .menu-nav {
         gap: 10px;

      }

      .header-ct-right {
         .wrap-login-menu {
            ul {
               gap: 10px;
            }
         }
      }
   }

}

@media (max-width: 1023px) {}

@media (max-width: 991px) {
   .header {
      .list-nav {
         display: none;
      }

      .header-ct-right {
         .wrap-login-menu {
            ul {
               gap: 20px;
            }
         }
      }

      .toggle-mobile {
         display: block;
      }
   }


   .wd-navigation {
      gap: 8px;

      .nav-item {
         width: 36px;
         height: 36px;
         font-size: 14px;

         .icon {
            font-size: 12px;
         }
      }
   }

   .flat-section {
      padding-bottom: 60px !important;
      padding-top: 60px !important;

   }

   .sidebar-blog {
      margin-top: 40px;
   }

   .footer {
      .widget-box {
         margin-bottom: 30px;
      }
   }

}

@media (max-width: 767px) {
   .header {
      .header-ct-left {
         a {
            img {
               max-width: 176px;
               height: auto;
            }
         }
      }
   }
}

@media (max-width: 575px) {
   .header {
      .header-ct-right {
         gap: 5px;

         .wrap-login-menu {

            .heart,
            .search {
               display: none;
            }

            .login {
               font-size: 14px;
            }
         }
      }
   }

   .tf-toolbar-bottom {
      display: block;
   }

   .backtotop {
      bottom: 100px;
      right: 10px;
      width: 40px;
      height: 40px;
   }

   .flat-blog-list {
      .flat-blog-item {
         .content-box {
            .post-author {
               span {
                  font-size: 12px;
               }

            }

            .title {
               font-size: 24px;
               line-height: 100%;
            }
         }
      }
   }

   .flat-latest-hero {
      h1 {
         font-size: 48px;
      }
   }

   .close-btn {
      right: 10px;
   }
}

@media (max-width: 425px) {
   .header {
      .wrap-login-menu {
         .login {
            display: none;
         }
      }
   }

   .tf-toolbar-bottom {
      padding: 10px;
      height: 60px;

      .toolbar-icon {
         line-height: 50px !important;

      }



      .indicator {
         width: 60px;
         height: 60px;
         left: calc((100% - 340px) / 2);
         top: -40%;
      }
   }
}



// /* ====== MIN-WIDTH (Desktop First) ====== */
@media (min-width: 576px) {
   .col-sm-6 {
      flex: 0 0 auto;
      width: 50% !important;
   }

   .col-sm-12 {
      flex: 0 0 auto;
      width: 100% !important;
   }
}

@media (min-width: 768px) {
   .col-md-6 {
      flex: 0 0 auto;
      width: 50% !important;
   }

   .col-md-9 {
      flex: 0 0 auto;
      width: 66.6666667% !important;
   }
}

@media (min-width: 992px) {
   .col-lg-4 {
      flex: 0 0 auto;
      width: 33.33333333% !important;
   }

   .col-lg-8 {
      flex: 0 0 auto;
      width: 66.6666667%;
   }

   .col-lg-12 {
      flex: 0 0 auto;
      width: 100%;
   }
}


@media (min-width: 1200px) {}

@media (min-width: 1440px) {}

@media (min-width: 1600px) {}

// /* ====== RANGE (Optional Specific Ranges) ====== */
// @media (min-width: 768px) and (max-width: 1200px) {}

// @media (min-width: 992px) and (max-width: 1200px) {}

// @media (min-width: 767px) and (max-width: 1199px) {}