/* --------------------------------------------------------------
   MEDIA QUERIES
   -------------------------------------------------------------- */

/* ====== MAX-WIDTH (Mobile First) ====== */
@media (max-width: 1600px) {}

@media (max-width: 1440px) {
   .header {
      .menu-nav {
         gap: 20px;
      }

      .header-ct-right {
         .wrap-login-menu {
            ul {
               gap: 20px;
            }
         }
      }
   }

}

@media (max-width: 1199px) {
   .header {

      .menu-nav {
         gap: 10px;

      }

      .header-ct-right {
         .wrap-login-menu {
            ul {
               gap: 10px;
            }
         }
      }
   }
}

@media (max-width: 1023px) {}

@media (max-width: 991px) {
   .header {
      .list-nav {
         display: none;
      }

      .header-ct-right {
         .wrap-login-menu {
            ul {
               gap: 20px;
            }
         }
      }

      .toggle-mobile {
         display: block;
      }
   }

}

@media (max-width: 767px) {
   .header {
      .header-ct-left {
         a {
            img {
               max-width: 176px;
               height: auto;
            }
         }
      }
   }
}

@media (max-width: 575px) {
   .header {
      .header-ct-right {
         gap: 5px;

         .wrap-login-menu {

            .heart,
            .search {
               display: none;
            }

            .login {
               font-size: 14px;
            }
         }
      }
   }

   .backtotop {
      bottom: 20px;
      right: 20px;
      width: 40px;
      height: 40px;
   }
}

@media (max-width: 425px) {
   .header {
      .wrap-login-menu {
         .login {
            display: none;
         }
      }
   }
}

/* ====== MIN-WIDTH (Desktop First) ====== */
@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1024px) {}

@media (min-width: 1200px) {}

@media (min-width: 1440px) {}

@media (min-width: 1600px) {}

/* ====== RANGE (Optional Specific Ranges) ====== */
@media (min-width: 768px) and (max-width: 1200px) {}

@media (min-width: 992px) and (max-width: 1200px) {}

@media (min-width: 767px) and (max-width: 1199px) {}