/* --------------------------------------------------------------
   MEDIA QUERIES
   -------------------------------------------------------------- */

/* ====== MAX-WIDTH (Mobile First) ====== */
@media (max-width: 1600px) {}

@media (max-width: 1440px) {
   .header {
      .menu-nav {
         gap: 20px;
      }

      .header-ct-right {
         .wrap-login-menu {
            ul {
               gap: 20px;
            }
         }
      }
   }

}

@media (max-width: 1199px) {
   .header {

      .menu-nav {
         gap: 10px;

      }

      .header-ct-right {
         .wrap-login-menu {
            ul {
               gap: 10px;

               .heart {
                  &::after {
                     right: -5px;
                  }
               }

               .search {
                  &::before {
                     right: -5px;
                  }
               }
            }
         }
      }

      &.style-2 {
         .list-nav {
            padding: 0 16px;
         }
      }
   }

   .box-title {
      .tf-meta {
         flex-direction: column;
         gap: 10px;
         margin-top: 100px;
      }
   }

   .slider-default {
      .swiper-slide {


         &.home-4 {
            .box-title {
               padding: 290px 0 90px;
            }
         }

      }



   }

}


@media (max-width: 991px) {
   .header {
      .list-nav {
         display: none;
      }

      .header-ct-right {
         .wrap-login-menu {
            ul {
               gap: 20px;
            }
         }
      }

      .toggle-mobile {
         display: block;
      }
   }


   .wd-navigation {
      gap: 8px;

      .nav-item {
         width: 36px;
         height: 36px;
         font-size: 14px;

         .icon {
            font-size: 12px;
         }
      }
   }

   .flat-section {
      padding-bottom: 60px !important;
      padding-top: 60px !important;

   }

   .sidebar-blog {
      margin-top: 40px;
   }

   .flat-blog-detail {
      h1 {
         font-size: 30px;
         line-height: 100%;
      }
   }

   .slider-default {
      .swiper-slide {
         &.home-3 {
            .box-title {
               padding: 100px 0 250px !important;

               h1 {
                  margin-bottom: 10px;
               }
            }

            .wrap-search-link {
               margin-top: 100px !important;
            }
         }

         &.home-4 {
            .box-title {
               padding: 200px 0 90px;
            }
         }

      }

      .box-title {
         margin-bottom: 300px;

         h1 {
            font-size: 40px !important;
         }

         p {
            font-size: 12px !important;
         }

         h3 {
            font-size: 36px !important;
         }


      }

      .box-meta,
      .slide-indicator {
         display: none;
      }


   }

   .tab-content {
      width: 100%;

      &.pos-1 {
         bottom: 0px;
      }
   }

   .flex-direction-nav {
      top: 25%;

      a {
         width: 50px;
         height: 50px;

         img {
            width: 18px;
            height: 18px;
         }
      }

      &.style-hero-1 {
         padding: 0 20px;
      }

      &.style-hero-2 {
         right: 5px;
         top: 35%;
      }
   }

   .form-search {
      flex-direction: column;

      &.style-1 {
         gap: 24px !important;
      }

      .inner-group {
         flex-direction: column;

         .form-group {
            border: none;

            .list {
               &.w-1 {
                  top: calc(100% + 10px) !important;
               }
            }

            &:first-child {
               padding-left: 24px;
            }


         }
      }

      .box-btn-filter {
         .tf-btn {
            &.btn-1 {
               padding: 24px;
            }
         }
      }
   }

   .home-4,
   .home-5 {
      .wrap-search-link {
         .inner-group {
            gap: 12px;

            .form-group {
               padding: 0;

               .current {
                  padding: 12px !important;
                  border: 1px solid var(--stoke-color);
                  border-radius: 999px;
               }

               .list {
                  top: calc(100% + 12px) !important;
               }
            }
         }
      }
   }

   .advanced-form {
      .group-checkbox {
         .group-amentities {
            grid-template-columns: repeat(3, 1fr) !important;
         }
      }
   }


   .tf-destination {

      .item:nth-child(2),
      .item:nth-child(3),
      .item:nth-child(5) {
         grid-column: span 2;
      }

      .destination-post {
         .group-meta {
            left: 12px !important;

            .tf-btn {
               padding: 10px !important;
               font-size: 12px;
            }
         }
      }

   }



   .tf-single {
      h1 {
         font-size: 30px;
      }

      .meta {
         flex-direction: column;
         align-items: flex-start !important;
         justify-content: flex-start !important;

         .inner-left {
            gap: 12px !important;
         }
      }
   }

   .flat-account .banner-account {
      display: none;
   }

   .footer {
      .widget-box {
         margin-bottom: 30px;
      }
   }

}

@media (max-width: 767px) {
   .header {
      .header-ct-left {
         a {
            img {
               max-width: 176px;
               height: auto;
            }
         }
      }
   }

   .categories-list {
      justify-content: center;
      gap: 12px;

      a {
         font-size: 13px;
         padding: 6px 12px;
         gap: 6px;

         .icon {
            font-size: 18px;
         }
      }
   }

   .flat-blog-detail {
      .flat-quote {
         padding: 15px;
      }
   }

   .advanced-form {
      .group-checkbox {
         .group-amentities {
            grid-template-columns: repeat(2, 1fr);
         }
      }
   }

}

@media (max-width: 575px) {
   .header {
      .header-ct-right {
         gap: 10px;

         .wrap-login-menu {

            .heart,
            .search {
               display: none;
            }

            .login {
               font-size: 14px;
            }
         }
      }
   }

   .advanced-form {
      max-height: 80vh;
      overflow-y: auto;
   }


   .title {
      font-size: 45px;
      line-height: 100%;
   }

   .flex-direction-nav {
      display: none;
   }

   .categories-list {
      gap: 8px;

      a {
         font-size: 12px;
         padding: 6px 10px;
         gap: 4px;

         .icon {
            font-size: 16px;
         }
      }
   }

   .box-title {
      .tf-meta {

         .contact-info {
            ul {
               li {
                  a {
                     width: 36px;
                     height: 36px;

                     .icon {
                        font-size: 14px;
                     }
                  }
               }
            }

            .user-avatars {
               img {
                  width: 36px;
                  height: 36px;
               }

               .user-count {
                  width: 36px;
                  height: 36px;
               }
            }

         }

         .divider {
            display: none;
         }

         span {
            font-size: 12px;
         }
      }
   }

   .tf-toolbar-bottom {
      display: block;
   }

   .footer {
      margin-bottom: 70px;
   }

   .advanced-form {
      .group-checkbox {
         .group-amentities {
            grid-template-columns: repeat(1, 1fr) !important;
         }
      }
   }

   .tf-single {
      h1 {
         font-size: 20px;
      }

      .meta {
         .inner-left {
            flex-direction: column !important;
            align-items: flex-start !important;
            justify-content: flex-start !important;
            gap: 12px !important;
         }
      }
   }

   .backtotop {
      bottom: 100px;
      right: 10px;
   }

   .flat-blog-list {
      .flat-blog-item {
         .content-box {
            .post-author {
               span {
                  font-size: 12px;
               }

            }

            .title {
               font-size: 24px;
               line-height: 100%;
            }
         }
      }
   }

   .flat-latest-hero {
      h1 {
         font-size: 48px;
      }
   }

   .flat-blog-detail {
      h1 {
         font-size: 24px;
         line-height: 100%;
      }

      .meta-blog {
         gap: 10px;
      }
   }

   .flat-account {
      .form-account {
         padding: 30px !important;
      }
   }

   .tf-destination {

      .item:nth-child(1),
      .item:nth-child(2),
      .item:nth-child(3),
      .item:nth-child(4),
      .item:nth-child(5) {
         grid-row: span 1;
         grid-column: span 3;
      }



   }

   .close-btn {
      right: 10px;
   }
}

@media (max-width: 425px) {

   .header {
      .wrap-login-menu {
         .login {
            span {
               display: none;
            }
         }
      }



      .header-ct-right {
         gap: 5px;

         .wrap-login-menu {
            ul {
               .login {
                  gap: 3px;
               }
            }
         }
      }
   }

   .categories-list {
      a {
         flex: 0 0 calc(50% - 4px);
         justify-content: center;
      }
   }


   .tf-toolbar-bottom {
      padding: 0;
      height: 60px;

      .indicator {
         width: 60px;
         height: 60px;
         left: calc((100% - 340px) / 2);
         top: -40%;
      }
   }

   .footer {
      margin-bottom: 60px;
   }

   .flat-blog-list {
      .flat-blog-item {
         .content-box {
            .post-author {
               span {
                  font-size: 10px;
                  gap: 5px;
               }

               span:not(:first-child) {
                  margin-left: 0;
               }

            }

            .description {
               font-size: 14px;
            }

            .title {
               font-size: 20px;
               line-height: 100%;
            }
         }
      }
   }
}