/* --------------------------------------------------------------
   MEDIA QUERIES
   -------------------------------------------------------------- */

/* ====== MAX-WIDTH (Mobile First) ====== */
@media (max-width: 1600px) {}

@media (max-width: 1440px) {
   .header {
      .menu-nav {
         gap: 20px;
      }

      .header-ct-right {
         .wrap-login-menu {
            ul {
               gap: 20px;
            }
         }
      }
   }

   .tf-best-trip {
      .tf-scroll-text {
         .heading {
            font-size: 120px !important;
            line-height: 100% !important;
         }

         .tag-1 {
            width: 100px !important;
            height: 100px !important;
         }

         .tag-2 {
            width: 80px !important;
            height: 80px !important;
         }

         .tag-3 {
            width: 55px !important;
            height: 55px !important;
         }

         .tag-4 {
            width: 170px !important;
            height: 170px !important;
         }
      }

   }

   .tf-perfect-tour {
      overflow: hidden !important;
      clip-path: none !important;
   }

   .hero {
      .flat-hero {
         flex-direction: column;

         .content-left {
            width: 100%;
            margin-top: 60px;

            .box-title {
               padding: 0 !important;
               gap: 20px;
               margin-bottom: 20px;
               text-align: center;

               .title {
                  font-size: 80px;
               }
            }

            .tab-content {
               left: 100px;
               top: 800px
            }
         }

         .content-right {
            width: 100%;
            margin-top: 20px;

            padding: 0 40px;

            .inner-left {
               flex: 0 0 48%;
            }
         }

         .rotating-badge {
            top: 42%;
            left: 49%;
         }
      }
   }

   .tf-destination {
      .content {
         h4 {
            font-size: 16px;
         }

         .subtitle {
            font-size: 15px;
         }
      }
   }
}

@media (max-width: 1199px) {
   .header {

      .menu-nav {
         gap: 10px;

      }

      .header-ct-right {
         .wrap-login-menu {
            ul {
               gap: 10px;

               .heart {
                  &::after {
                     right: -5px;
                  }
               }

               .search {
                  &::before {
                     right: -5px;
                  }
               }
            }
         }
      }

      &.style-2 {
         .list-nav {
            padding: 0 16px;
         }
      }
   }

   .box-title {
      .tf-meta {
         flex-direction: column;
         gap: 10px;
         margin-top: 100px;
      }
   }


   .hero {
      .flat-hero {
         .content-left {
            .box-title {
               .title {
                  font-size: 60px;
               }
            }

            .tab-content {
               left: 35%;
               top: 600px;


               .form-search {
                  flex-direction: column;
                  gap: 24px;

                  .inner-group {
                     flex-direction: column;
                     gap: 12px;

                     .form-group {
                        padding: 0;

                        label {
                           text-align: center;

                        }

                        .list {
                           top: calc(100% + 12px);
                        }

                        .current {
                           padding: 14px;
                           border: 1px solid var(--stoke-color);
                           border-radius: 99px;
                        }
                     }
                  }
               }
            }
         }
      }
   }

   .slider-default {
      .swiper-slide {


         &.home-4 {
            .box-title {
               padding: 290px 0 90px;
            }
         }

      }



   }

   .tf-best-trip {
      .tf-scroll-text {
         .heading {
            font-size: 100px !important;
         }

         .tag-1 {
            width: 80px !important;
            height: 80px !important;
            left: 10% !important;
            bottom: -55% !important;
         }

         .tag-2 {
            width: 70px !important;
            height: 70px !important;
            top: -50% !important;
         }

         .tag-3 {
            width: 45px !important;
            height: 45px !important;
            bottom: -20% !important;
         }

         .tag-4 {
            width: 150px !important;
            height: 150px !important;
            top: -100% !important;
         }
      }
   }

   .flat-img-with-text {
      flex-direction: column !important;
      gap: 40px !important;

      .content-left,
      .content-right {
         width: 100% !important;

      }

      .content-left {
         align-items: stretch !important;

         .inner-left {
            margin-top: 0 !important;
         }

         .inner-left,
         .inner-right {
            flex: 1 1 100% !important;
            max-width: 100% !important;
         }

         .rotating-badge {
            left: 50% !important;
         }
      }

      .content-right {
         gap: 24px !important;

         .box-title {
            .title {
               font-size: 36px;
               margin-bottom: 24px !important;
            }
         }

         .flat-service {
            padding-bottom: 24px !important;
         }
      }
   }

   .tf-partner {
      margin-top: 200px !important;
   }

   .tf-destination {
      grid-template-rows: 250px 250px !important;

      &.grid-2 {

         grid-template-areas:
            "item1 item1 item2 item3"
            "item1 item1 item4 item5" !important;
      }
   }
}


@media (max-width: 991px) {
   .header {
      .list-nav {
         display: none;
      }

      .header-ct-right {
         .wrap-login-menu {
            ul {
               gap: 20px;
            }
         }
      }

      .toggle-mobile {
         display: block;
      }
   }

   .tf-best-trip {
      .tf-scroll-text {
         .heading {
            font-size: 75px !important;
         }

         .tag-1 {
            width: 60px !important;
            height: 60px !important;
            bottom: -65% !important;
            border-radius: 12px !important;
         }

         .tag-2 {
            width: 50px !important;
            height: 50px !important;
            top: -60% !important;
            border-radius: 12px !important;
         }

         .tag-3 {
            width: 35px !important;
            height: 35px !important;
            bottom: -30% !important;
            border-radius: 8px !important;
         }

         .tag-4 {
            width: 130px !important;
            height: 130px !important;
            top: -120% !important;
            border-radius: 12px !important;
         }
      }
   }

   .flat-testimonial {
      .flex-direction-nav {
         display: none;
      }

      .sw-pagination {
         display: block !important;
      }
   }

   .wd-navigation {
      gap: 8px;

      .nav-item {
         width: 36px;
         height: 36px;
         font-size: 14px;

         .icon {
            font-size: 12px;
         }
      }
   }

   .flat-section {
      padding-bottom: 60px !important;
      padding-top: 60px !important;

   }

   .sidebar-blog {
      margin-top: 40px;
   }

   .flat-blog-detail {
      h1 {
         font-size: 30px;
         line-height: 100%;
      }
   }

   .flat-img-with-text {
      .content-right {
         .box-title {
            .title {
               font-size: 32px;
            }

            .subtitle {
               font-size: 15px;
            }
         }

         .description {
            font-size: 15px !important;
         }
      }
   }

   .tf-partner {
      margin-top: 300px !important;

      .box-content {
         flex-direction: column !important;
         justify-content: flex-start !important;

         .inner-left {
            flex-direction: row;
            width: 100% !important;
         }
      }
   }

   .slider-default {
      .swiper-slide {
         &.home-3 {
            .box-title {
               padding: 100px 0 250px !important;

               h1 {
                  margin-bottom: 10px;
               }
            }

            .wrap-search-link {
               margin-top: 100px !important;
            }
         }

         &.home-4 {
            .box-title {
               padding: 200px 0 90px;
            }
         }

      }

      .box-title {
         margin-bottom: 300px;

         h1 {
            font-size: 40px !important;
         }

         p {
            font-size: 12px !important;
         }

         h3 {
            font-size: 36px !important;
         }


      }

      .box-meta,
      .slide-indicator {
         display: none;
      }


   }

   .tab-content {
      width: 100%;

      &.pos-1 {
         bottom: 0px;
      }
   }

   .flex-direction-nav {
      top: 25%;

      a {
         width: 50px;
         height: 50px;

         img {
            width: 18px;
            height: 18px;
         }
      }

      &.style-hero-1 {
         padding: 0 20px;
      }

      &.style-hero-2 {
         right: 5px;
         top: 35%;
      }
   }

   .form-search {
      flex-direction: column;

      &.style-1 {
         gap: 24px !important;
      }

      .inner-group {
         flex-direction: column;

         .form-group {
            border: none;

            .list {
               &.w-1 {
                  top: calc(100% + 10px) !important;
               }
            }

            &:first-child {
               padding-left: 24px;
            }


         }
      }

      .box-btn-filter {
         .tf-btn {
            &.btn-1 {
               padding: 24px;
            }
         }
      }
   }

   .hero {
      .flat-hero {
         .content-left {
            .box-title {
               .title {
                  font-size: 40px;
               }

               .description {
                  font-size: 15px;
               }
            }

            .tab-content {
               left: 0;
               top: 500px;
            }
         }
      }
   }

   .home-4,
   .home-5 {
      .wrap-search-link {
         .inner-group {
            gap: 12px;

            .form-group {
               padding: 0;

               .current {
                  padding: 12px !important;
                  border: 1px solid var(--stoke-color);
                  border-radius: 999px;
               }

               .list {
                  top: calc(100% + 12px) !important;
               }
            }
         }
      }
   }

   .advanced-form {
      .group-checkbox {
         .group-amentities {
            grid-template-columns: repeat(3, 1fr) !important;
         }
      }
   }


   .banner-section {
      padding: 150px 0 !important;
   }



   .tf-single {
      h1 {
         font-size: 30px;
      }

      .meta {
         flex-direction: column;
         align-items: flex-start !important;
         justify-content: flex-start !important;

         .inner-left {
            gap: 12px !important;
         }
      }
   }

   .flat-account .banner-account {
      display: none;
   }

   .tf-destination {

      &.grid-2,
      &.grid-1 {
         grid-template-columns: 1fr 1fr !important;
         grid-template-rows: 200px 200px 200px !important;

         grid-template-areas:
            "item1 item1"
            "item2 item3"
            "item4 item5" !important;
      }

      .content {
         padding: 14px !important;

         h4 {
            font-size: 12px;
         }

         .subtitle {
            font-size: 12px;
         }
      }
   }

   .footer {
      .widget-box {
         margin-bottom: 30px;
      }
   }

}

@media (max-width: 767px) {
   .header {
      .header-ct-left {
         a {
            img {
               max-width: 176px;
               height: auto;
            }
         }
      }
   }

   .tf-partner {
      margin-top: 450px !important;
   }


   .categories-list {
      justify-content: center;
      gap: 12px;

      a {
         font-size: 13px;
         padding: 6px 12px;
         gap: 6px;

         .icon {
            font-size: 18px;
         }
      }
   }

   .flat-blog-detail {
      .flat-quote {
         padding: 15px;
      }
   }

   .advanced-form {
      .group-checkbox {
         .group-amentities {
            grid-template-columns: repeat(2, 1fr);
         }
      }
   }

   .tf-best-trip {
      .tf-scroll-text {
         .heading {
            font-size: 55px !important;
         }

         .tag-1 {
            width: 55px !important;
            height: 55px !important;
            border-radius: 12px !important;
         }

         .tag-2 {
            width: 45px !important;
            height: 45px !important;
            border-radius: 8px !important;
         }

         .tag-3 {
            width: 30px !important;
            height: 30px !important;
            border-radius: 8px !important;
         }

         .tag-4 {
            width: 100px !important;
            height: 100px !important;
            border-radius: 12px !important;
         }
      }
   }
}

@media (max-width: 575px) {
   .header {
      .header-ct-right {
         gap: 10px;

         .wrap-login-menu {

            .heart,
            .search {
               display: none;
            }

            .login {
               font-size: 14px;
            }
         }
      }
   }

   .action-download {
      flex-direction: column;
      align-items: center;

      .tf-btn {
         width: 100%;
      }

   }

   .advanced-form {
      max-height: 80vh;
      overflow-y: auto;
   }


   .title {
      font-size: 45px;
      line-height: 100%;
   }

   .flex-direction-nav {
      display: none;
   }

   .categories-list {
      gap: 8px;

      a {
         font-size: 12px;
         padding: 6px 10px;
         gap: 4px;

         .icon {
            font-size: 16px;
         }
      }
   }

   .box-title {
      .tf-meta {

         .contact-info {
            ul {
               li {
                  a {
                     width: 36px;
                     height: 36px;

                     .icon {
                        font-size: 14px;
                     }
                  }
               }
            }

            .user-avatars {
               img {
                  width: 36px;
                  height: 36px;
               }

               .user-count {
                  width: 36px;
                  height: 36px;
               }
            }

         }

         .divider {
            display: none;
         }

         span {
            font-size: 12px;
         }
      }
   }


   .tf-best-trip {
      .tf-scroll-text {
         .heading {
            font-size: 42px !important;
         }

         .tag-1 {
            left: 17% !important;
            bottom: -100% !important;
         }

         .tag-2 {
            top: -100% !important;
            left: 35% !important;
         }

         .tag-3 {
            bottom: -40% !important;
            left: 62%;
         }

         .tag-4 {
            width: 70px !important;
            height: 70px !important;
            top: -130% !important;
            border-radius: 12px !important;
         }
      }
   }

   .tf-toolbar-bottom {
      display: block;
   }

   .footer {
      margin-bottom: 70px;
   }

   .advanced-form {
      .group-checkbox {
         .group-amentities {
            grid-template-columns: repeat(1, 1fr) !important;
         }
      }
   }

   .tf-single {
      h1 {
         font-size: 20px;
      }

      .meta {
         .inner-left {
            flex-direction: column !important;
            align-items: flex-start !important;
            justify-content: flex-start !important;
            gap: 12px !important;
         }
      }
   }

   .backtotop {
      bottom: 100px;
      right: 10px;
   }

   .banner-section {
      padding: 80px 0 !important;

      .box-title {
         .title {
            font-size: 32px;

         }
      }
   }

   .flat-img-with-text {
      .content-right {
         gap: 16px !important;

         .box-title {
            .title {
               font-size: 24px;
               margin-bottom: 16px !important;
            }

            .subtitle {
               font-size: 14px;
            }
         }

         .description {
            font-size: 14px !important;
         }

         .flat-service {
            gap: 20px !important;
         }

         .contact {
            flex-direction: column;
            align-items: flex-start !important;

            .tf-btn {
               width: 100%;
            }
         }
      }
   }

   .flat-blog-list {
      .flat-blog-item {
         .content-box {
            .post-author {
               span {
                  font-size: 12px;
               }

            }

            .title {
               font-size: 24px;
               line-height: 100%;
            }
         }
      }
   }

   .flat-latest-hero {
      h1 {
         font-size: 48px;
      }
   }

   .flat-blog-detail {
      h1 {
         font-size: 24px;
         line-height: 100%;
      }

      .meta-blog {
         gap: 10px;
      }
   }

   .flat-account {
      .form-account {
         padding: 30px !important;
      }
   }

   .tf-destination {
      display: flex !important;
      gap: 0 !important;



      &.grid-1,
      &.grid-2 {
         grid-template-columns: unset;
         grid-template-rows: unset;
         grid-template-areas: unset;
      }

      .swiper-slide {
         height: 338px !important;
         grid-row: unset !important;
         grid-area: unset !important;

         &:first-child {
            grid-row: unset !important;
         }
      }
   }

   .tf-sw-mobile {
      .sw-pagination {
         display: block !important;
      }
   }

   .hero {
      .flat-hero {
         .content-left {
            .box-title {
               .title {
                  font-size: 30px;
               }

               .description {
                  font-size: 14px;
               }
            }

            .tab-content {
               left: 0;
               top: 400px;
            }
         }
      }
   }

   .close-btn {
      right: 10px;
   }
}

@media (max-width: 425px) {

   .header {
      .wrap-login-menu {
         .login {
            span {
               display: none;
            }
         }
      }



      .header-ct-right {
         gap: 5px;

         .wrap-login-menu {
            ul {
               .login {
                  gap: 3px;
               }
            }
         }
      }
   }

   .categories-list {
      a {
         flex: 0 0 calc(50% - 4px);
         justify-content: center;
      }
   }


   .tf-toolbar-bottom {
      padding: 0;
      height: 60px;

      .indicator {
         width: 60px;
         height: 60px;
         left: calc((100% - 340px) / 2);
         top: -40%;
      }
   }

   .footer {
      margin-bottom: 60px;
   }

   .flat-blog-list {
      .flat-blog-item {
         .content-box {
            .post-author {
               span {
                  font-size: 10px;
                  gap: 5px;
               }

               span:not(:first-child) {
                  margin-left: 0;
               }

            }

            .description {
               font-size: 14px;
            }

            .title {
               font-size: 20px;
               line-height: 100%;
            }
         }
      }
   }

   .tf-best-trip {
      .tf-scroll-text {
         .heading {
            font-size: 38px !important;
         }


      }
   }
}