@use "abstracts/index.scss" as *;

.flat-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

//========== Box title==========
.box-title {
    margin-bottom: 50px;

    &.style-1 {
        margin-bottom: 40px;
        max-width: 100%;
    }

    &.style-2 {
        max-width: 640px;
        margin-left: auto;
        margin-right: auto;
    }

    &.style-3 {
        margin-bottom: 30px;
    }

    .title {
        text-transform: capitalize;
        font-weight: 600;
        font-size: 40px;
        line-height: 120%;
    }

    .desc {
        margin-top: 12px;
    }
}

//========= Destination=========
.tf-destination {
    display: grid;
    gap: 12px;
    grid-template-rows: 330px 330px;

    .swiper-slide {
        &:nth-child(1) {
            grid-area: item1;
        }

        &:nth-child(2) {
            grid-area: item2;
        }

        &:nth-child(3) {
            grid-area: item3;
        }

        &:nth-child(4) {
            grid-area: item4;
        }

        &:nth-child(5) {
            grid-area: item5;
        }
    }

    // Style 1
    &.grid-1 {
        grid-template-columns: repeat(4, 1fr);


        grid-template-areas:
            "item1 item1 item2 item3"
            "item1 item1 item4 item5";
    }

    // Style 2
    &.grid-2 {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "item1 item1 item2 item2 item5 item5"
            "item1 item1 item3 item4 item5 item5";
    }

    .swiper-slide {
        height: 100%;
    }

    .item {
        height: 100%;
    }

    .img-style {
        display: block;
        width: 100%;
        height: 100%;
    }

    .destination-post {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 16px;

        .content {
            position: absolute;
            bottom: 8px;
            left: 50%;
            width: calc(100% - 16px);
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 8px;
            background: var(--white);
            border-radius: 16px;
            padding: 16px;
            transition: all 0.3s ease;

        }

        .group-meta {
            position: absolute;
            bottom: 24px;
            left: 24px;
            display: flex;
            align-items: center;
            gap: 12px;
            z-index: 5;

            .tf-btn {
                padding: 14px 24px;
                background-color: var(--border-header);
                border: var(--border-header);
                backdrop-filter: blur(4px);
                color: var(--white);
                transition: all 0.3s ease;

                img {
                    filter: brightness(0) invert(1);
                }

                &:hover {
                    background-color: var(--primary-color);
                    color: var(--white);

                    img {
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
    }
}

// =========Location=================
.tf-sw-location {
    .swiper-slide {
        height: auto;
    }

    .img-style {
        display: block;
        width: 100%;
        height: 420px;
    }

    .destination-post {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 16px;

        .content {
            position: absolute;
            bottom: 8px;
            left: 50%;
            width: calc(100% - 16px);
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 8px;
            background: var(--white);
            border-radius: 16px;
            padding: 16px;
            transition: all 0.3s ease;

        }

        .group-meta {
            position: absolute;
            bottom: 24px;
            left: 24px;
            display: flex;
            align-items: center;
            gap: 12px;
            z-index: 5;

            .tf-btn {
                padding: 14px 24px;
                background-color: var(--border-header);
                border: var(--border-header);
                backdrop-filter: blur(4px);
                color: var(--white);
                transition: all 0.3s ease;

                img {
                    filter: brightness(0) invert(1);
                }

                &:hover {
                    background-color: var(--primary-color);
                    color: var(--white);

                    img {
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
    }
}

.tf-sw-mobile {
    .sw-pagination {
        display: none;
    }
}

// =============Modal Account=================
.modal-account .modal-dialog .modal-content {
    border-radius: 16px;
    border: 0;
    background: var(--white);
    overflow: hidden;
}

.flat-account {
    display: flex;

    .banner-account {
        max-width: 380px;
        width: 100%;
        flex-shrink: 0;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .logo-overlay {
            position: absolute;
            top: 32px;
            left: 24px;
            width: 168px;
            height: 44px;
            z-index: 2;
        }
    }

    .form-account {
        flex-grow: 1;
        padding: 40px;

        .box {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        .title-box {
            margin-bottom: 40px;
            display: flex;
            justify-content: space-between;

            .icon {
                font-size: 24px;
                cursor: pointer;

            }
        }

        .box-fieldset {
            &:not(:last-child) {
                margin-bottom: 30px;
            }

            label {
                margin-bottom: 10px;
                font-weight: 500;
            }

            .text-forgot {
                margin-top: 18px;
                color: var(--primary-color);

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .ip-field {
            position: relative;

            img {
                filter: brightness(0) saturate(100%) invert(77%) sepia(7%) saturate(117%) hue-rotate(60deg) brightness(92%) contrast(83%);
            }

            .icon {
                position: absolute;
                left: 18px;
                top: 50%;
                transform: translateY(-50%);


            }

            input {
                padding-left: 46px;
            }
        }
    }

    .box-btn {
        .text {
            margin-top: 18px;
        }
    }

    .close-modal {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        font-size: 20px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .close-modal:hover {
        background-color: var(--input-color);
        color: var(--primary-color);
        transform: rotate(90deg);
    }

    .group-btn {
        display: flex;
        gap: 10px;

        .btn-social {
            width: 50%;
            font-weight: 600;
            color: var(--text-color);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 16px;
            border: 1px solid var(--stoke-color);
            border-radius: 16px;

            img {
                width: 20px;
                height: 20px;
            }

            &:hover {
                border-color: var(--primary-color);
            }
        }

    }
}


// ==========Single Tour========================
.tf-single {
    .meta {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        .inner-left {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 24px;

            .rate {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                font-size: 14px;

                .rating {
                    .icon {
                        font-size: 14px;
                    }
                }

                .rating-text {
                    color: var(--heading-color);
                    font-weight: 700;
                }

                .review {
                    color: var(--place-holder);
                    font-weight: 400;
                }
            }

            .destination {
                display: flex;
                align-items: center;
                gap: 8px;

                span {
                    font-size: 14px;
                    line-height: 140%;
                    font-weight: 400;
                    color: var(--text-color);
                }

                img {
                    width: 16px;
                    height: 16px;
                }


            }
        }

        .inner-right {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 24px;

            .action-btn {
                font-size: 14px;
                font-weight: 400;
                line-height: 100%;
                color: var(--text-color);
                display: flex;
                align-items: center;
                gap: 8px;
                transition: color 0.3s ease;

                &:hover {
                    color: var(--primary-color);
                }
            }
        }
    }
}

// =========Partner============================
.tf-partner {
    margin-top: 114px;

    .box-content {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;

        .inner-left {
            width: 40%;

            span {
                color: var(--heading-color);
                font-weight: 500;
                font-size: 16px;
                line-height: 140%;
            }

            ul {
                li {
                    .box-icon {
                        color: var(--heading-color);

                        &:hover {
                            color: var(--primary-color);
                        }
                    }
                }
            }
        }
    }
}

.partner {
    width: 100%;
    overflow: hidden;


    .partners-list {
        display: flex;
        gap: 40px;
        width: max-content;
        animation: scroll 30s linear infinite;


        &:hover {
            animation-play-state: paused;
        }

        .partners-item {
            width: 180px;
            height: 76px;
            object-fit: cover;
            transition: filter 0.3s ease, transform 0.3s ease;
            cursor: pointer;

            &:hover {
                filter: brightness(0) saturate(100%) invert(63%) sepia(33%) saturate(725%) hue-rotate(359deg) brightness(100%) contrast(94%);
                transform: scale(1.05);
            }
        }

    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
    }
}

// ============Tour=============================
.flat-tab-recommend {
    .item {
        display: block;
        border-radius: 16px;
        overflow: hidden;
        border: 1px solid var(--stoke-color);

        .images-group {
            aspect-ratio: 3/ 2;
            width: 100%;
            overflow: hidden;
        }

        .archive-bottom {
            padding: 24px;

            .content-top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 12px;

                .list-star {
                    .icon {
                        font-size: 14px;
                    }
                }


            }

            .tour-title {
                margin-bottom: 18px;
            }

            .content-info-middle {
                display: flex;
                gap: 16px;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: wrap;
                padding-bottom: 16px;
                border-bottom: 1px solid var(--stoke-color);

                .info {
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    color: var(--text-color);

                    img {
                        width: 16px;
                        height: 16px;
                        filter: brightness(0) saturate(100%) invert(37%) sepia(7%) saturate(146%) hue-rotate(56deg) brightness(96%) contrast(87%);
                    }

                    span {
                        font-size: 14px;
                        line-height: 140%;
                    }
                }
            }

            .content-bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 16px;

                .address {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 8px;

                    .icon {
                        width: 16px;
                        height: 16px;
                    }

                    .location {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 140%;
                        color: var(--text-color);
                    }
                }

                .price {
                    color: var(--primary-color);
                }
            }
        }



        .group-meta {
            position: absolute;
            top: 8px;
            left: 8px;
            right: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .tag-meta {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;

                .flag-tag {
                    display: flex;
                    align-items: center;
                    padding: 6px 12px;
                    background-color: var(--primary-color);
                    color: var(--white);
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 100%;
                    border-radius: 99px;
                }

                .count {
                    display: flex;
                    align-items: center;
                    padding: 6px 12px;
                    background-color: #0000004D;
                    backdrop-filter: blur(4px);
                    gap: 6px;
                    border-radius: 99px;

                    img {
                        width: 16px;
                        height: 16px;

                    }

                    span {
                        color: var(--white);
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 100%;
                    }

                    &:hover {
                        background-color: var(--primary-color);
                        color: var(--white);

                        img {
                            filter: brightness(0) invert(1);

                        }

                    }
                }
            }

            .btn-wished {
                @include flex(center, center);
                background-color: var(--white);
                width: 40px;
                height: 40px;
                border-radius: 50%;

                img {
                    width: 18px;
                    height: 18px;
                    filter: brightness(0) saturate(100%) invert(12%) sepia(8%) saturate(967%) hue-rotate(179deg) brightness(90%) contrast(89%);
                }
            }
        }
    }
}

.rating {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;

    .list-star {
        display: flex;
        flex-direction: row;
        gap: 4px;
        align-items: center;

        .icon {
            color: var(--star-color);
            font-size: 16px;

            img {
                filter: brightness(0) saturate(100%) invert(82%) sepia(32%) saturate(5285%) hue-rotate(330deg) brightness(97%) contrast(95%);
            }
        }
    }

    .rate {
        display: flex;
        align-items: center;
        gap: 4px;
        justify-content: center;
        text-align: center;

        .total-rate {
            font-weight: 700;
            font-size: 14px;
            line-height: 100%;
            color: var(--heading-color);
        }

        .review {
            font-size: 14px;
            line-height: 140%;
            font-weight: 400;
            color: var(--place-holder);
        }
    }
}

// ============Hero Banner======================
.banner-section {
    background: url("../images/tours/bg-tour-1.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    padding: 233px 0;
    display: flex;
    justify-content: center;
    position: relative;
    background-attachment: fixed;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0000004D;
        z-index: 0;
    }

    .content {

        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;
        z-index: 1;
        position: relative;
        gap: 24px;

        .tf-action {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            .tf-btn {
                min-width: 80px;
                height: 80px;
                border-radius: 50%;
                padding: 28px;
                position: relative;
                width: 80px !important;
                display: flex;
                justify-content: center;
                align-items: center;

                &::after,
                &::before {
                    position: absolute;
                    content: "";
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    border-radius: 9999px;
                    animation: ripple 3s infinite;
                }

                &::after {
                    animation-delay: 0.5s;
                }

                &::before {
                    animation-delay: 0.9s;
                }

                .icon {
                    font-size: 28px;
                }
            }

        }

        .box-title {
            text-align: center;
            margin-bottom: 0;

            .title {
                color: var(--white);
            }

            .subtitle {
                color: var(--white);
                font-size: 16px;
            }
        }
    }

    @keyframes ripple {
        0% {
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
        }

        50% {
            box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
        }

        100% {
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        }
    }
}

// ============Benefit=========================
.tf-benefit {
    background: url("../images/backgronud/bg-transperent.png") no-repeat center center;
    background-size: cover;
    background-color: var(--primary-color);

    .box-icon {
        padding: 48px 32px;
        background-color: var(--white);
        display: flex;
        align-items: center;
        gap: 32px;
        flex-direction: column;
        border-radius: 16px;
        transition: all 0.3s ease;

        &:hover {
            .wrap-icon {
                background-color: var(--primary-color);

                .icon {
                    transform: rotateY(360deg);
                    filter: brightness(0) invert(1);

                }
            }
        }

        .wrap-icon {
            padding: 20px;
            display: flex;
            align-items: center;
            background-color: var(--secondary-color);
            border-radius: 16px;

            .icon {
                width: 64px;
                height: 64px;
                filter: brightness(0) saturate(100%) invert(70%) sepia(55%) saturate(503%) hue-rotate(351deg) brightness(90%) contrast(91%);
                transition: transform 0.6s ease-in-out;
            }
        }

        .content {
            text-align: center;

            .title {
                font-size: 24px;
                line-height: 100%;
                margin-bottom: 12px;
            }

            .desc {
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: var(--text-color);
            }
        }
    }

    .partner {
        margin-top: 80px;

        .partners-item {
            filter: brightness(0) invert(1);

            &:hover {
                filter: brightness(0) invert(1);
            }
        }
    }
}

// ============Testinials=======================
.flat-testimonial {

    .box-testimonial-item {
        display: flex;
        align-items: center;
        gap: 32px;
        flex-direction: column;
        max-width: 840px;
        width: 100%;
        margin: auto;

        .description {
            font-weight: 400;
            font-size: 24px;
            color: var(--text-color);
            text-align: center;
        }

        .box-avt {
            display: flex;
            align-items: center;
            gap: 12px;
            flex-direction: column;
            text-align: center;

            .info {
                .position {
                    color: var(--text-color);
                    line-height: 140%;
                    font-size: 16px;
                    margin-top: 2px;
                }
            }
        }
    }

    .flex-direction-nav {
        a {
            width: 58px;
            height: 58px;
        }

        &.style-hero-1 {
            padding: 0;
            top: 11%;

        }
    }

    .sw-pagination {
        display: none;
    }
}

// ============Find my tour====================
.flat-perfect-tour {
    background-color: #DCA54614;
    overflow: hidden;

    .tf-perfect-tour {
        overflow: visible;
        clip-path: inset(0 -33% 0 0);
    }


    .item {
        background-color: var(--white);

        .archive-top {
            position: relative;
            padding-bottom: 24px;


            .tag {
                position: absolute;
                bottom: 0px;
                left: 32px;
                top: auto !important;

                .flag-total {
                    background-color: var(--primary-color);
                    color: var(--white);
                    padding: 8px 26px;
                    border-radius: 99px;
                    display: flex;
                    text-align: center;
                    align-items: center;
                    font-weight: 500px;
                    line-height: 140%;
                    font-size: 16px;
                    border: 1px solid var(--primary-color);

                    &:hover {
                        background: var(--white);
                        color: var(--primary-color);
                    }
                }
            }
        }

        .archive-bottom {
            padding: 32px;

            .tour-title {
                margin-bottom: 12px;
            }

            .subtitle {
                line-height: 140%;

            }
        }

        &:hover {
            box-shadow: 0px 30px 30px 0px #0000001A;

        }
    }
}

// ==============Text -Heading===============

.tf-best-trip {
    margin-top: 50px;
    margin-bottom: 50px;

    .tf-scroll-text {
        position: relative;

        .heading {
            font-weight: 600;
            font-size: 182px;
            line-height: 120%;
            text-align: center;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .tag-image {
            box-shadow: 0px 30px 60px 0px #00000033;
            border-radius: 16px;
            overflow: hidden;
            position: absolute;
        }

        .tag-1 {
            width: 139px;
            height: 139px;
            left: 11%;
            bottom: -29%;
        }

        .tag-2 {
            width: 96px;
            height: 96px;
            left: 36%;
            top: -23%;
        }

        .tag-3 {
            width: 63px;
            height: 63px;
            left: 66%;
            bottom: -5%;
        }

        .tag-4 {
            width: 260px;
            height: 260px;
            right: 6%;
            top: -75%;
        }
    }
}

// ==============Image With Text================
.flat-img-with-text {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    gap: 78px;

    .content-left {
        width: 48%;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        gap: 12px;
        position: relative;

        .rotating-badge {
            bottom: 30%;
            left: 52%;
        }

        .inner-right {
            display: flex;
            gap: 12px;
            align-items: center;
            flex-direction: column;
            flex: 0 0 272px;


            img:first-child {
                object-fit: cover;
                width: 100%;
                height: auto;
                aspect-ratio: 272/286;
                border-radius: 16px;

            }

            img:last-child {
                object-fit: cover;
                width: 100%;
                height: auto;
                aspect-ratio: 272/207;
                border-radius: 16px;
            }
        }

        .inner-left {
            flex: 0 0 304px;
            margin-top: 90px;

            img {
                border-radius: 16px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                aspect-ratio: 304/481;
            }
        }
    }

    .content-right {
        width: 52%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 32px;

        .box-title {
            margin-bottom: 0;

            .title {
                margin-bottom: 32px;
            }
        }

        .flat-service {
            display: flex;
            align-items: flex-start;
            gap: 40px;
            flex-direction: row;
            padding-bottom: 32px;
            border-bottom: 1px solid var(--stoke-color);

            .box-benefit {
                display: flex;
                gap: 32px;
                flex-direction: column;

                .icon-box {
                    width: 48px;
                    height: 48px;
                    transition: transform 0.6s ease;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .icon {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .content-box {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    .description {
                        font-size: 16px;
                        color: var(--text-color);
                        line-height: 140%;

                    }
                }

                &:hover {
                    .icon-box {
                        transform: rotateY(360deg);

                    }
                }
            }
        }

        .contact {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 24px;

            .box-info {
                display: flex;
                gap: 16px;
                flex-direction: row;
                flex-shrink: 0;

                .icon {
                    width: 48px;
                    height: 48px;
                    color: var(--white);
                    background-color: var(--primary-color);
                    font-size: 24px;
                    align-items: center;
                    display: flex;
                    border-radius: 16px;
                    justify-content: center;
                    flex-shrink: 0;
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    white-space: nowrap;

                    .phone {
                        color: var(--primary-color);
                    }
                }
            }
        }
    }
}

// ==============Category Type=================
.flat-types {
    overflow: hidden;
}

.box-type {
    padding: 30px 24px 24px 24px;
    background-color: var(--white);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    @include transition3;
    position: relative;
    z-index: 1;
    border: 1px solid var(--stoke-color);
    overflow: hidden;

    .icon-box {
        overflow: hidden;

        &.ic-1 {
            background-color: var(--secondary-color);
            padding: 28px;
            border-radius: 50%;

            .icon {
                width: 64px;
                height: 64px;
            }
        }


        .icon {
            width: 80px;
            height: 80px;
            color: var(--primary-color);
            @include transition3;
            transition: transform 1.5s cubic-bezier(0, 0, 0.44, 1.18),
                filter 1.5s cubic-bezier(0, 0, 0.44, 1.18);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }

        img,
        svg path {
            filter: brightness(0) saturate(100%) invert(97%) sepia(74%) saturate(5030%) hue-rotate(318deg) brightness(89%) contrast(90%);
            @include transition3;
        }

    }

    .content {
        display: flex;
        align-items: center;
        gap: 4px;
        flex-direction: column;

        .name {
            color: var(--heading-color);
            @include transition3;
        }

        .total-tour {
            @include transition3;
        }
    }

    &.active,
    &:hover {
        box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.1);

        .icon-box {
            .icon {
                color: var(--white);
            }

            svg path {
                fill: var(--white);
            }

            img {
                filter: brightness(0) invert(1);
                transform: scale(1.05);
            }
        }

        .content {

            .name,
            .total-tour {
                color: var(--white);
            }
        }

        &::before {
            transform: scale(1, 1);
            transform-origin: top center;
        }

    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: var(--primary-color);
        transform: scale(1, 0);
        transition: transform 400ms ease;
        transform-origin: bottom center;
        z-index: -1;
        border-radius: 16px;
    }

    &.style-01 {
        border: transparent;

        &::before {
            background-color: var(--white);
        }

        &:hover {
            box-shadow: none;

            .icon-box {
                background-color: var(--primary-color);
            }

            .content {

                .name {
                    color: var(--primary-color);
                }

                .total-tour {
                    color: var(--text-color);
                }
            }
        }

        padding: 0 30px;

    }

    &.style-02 {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        padding: 180px 0 12px 0;
        position: relative;

        &::before {
            content: none;
        }

        .content {

            .name,
            .total-tour {
                color: var(--white);
            }
        }

        &.bg-1 {
            background-image: url('../images/backgronud/bg-register.png');
        }

        &.bg-2 {
            background-image: url('../images/tours/tour-11.png');
        }

        &.bg-3 {
            background-image: url('../images/tours/tour-19.png');
        }

        &.bg-4 {
            background-image: url('../images/tours/tour-item/tour-3.png');
        }

        &.bg-5 {
            background-image: url('../images/tours/tour-14.png');
        }

        &.bg-6 {
            background-image: url('../images/tours/tour-item/tour-10.png');
        }

        &:hover {
            .content {
                position: relative;
                z-index: 2;

                .name,
                .total-tour {
                    color: var(--primary-color);
                }
            }
        }
    }

    &.style-03 {
        border: none;
        padding: 0 30px;

        .icon-box {
            width: 120px;
            height: 120px;
            border-radius: 16px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: none;

            }
        }

        &:hover {
            box-shadow: none;

            .icon-box {
                img {
                    filter: brightness(60%);
                }
            }
        }

    }
}

// ============= Perfect Tour===================
.flat-tour-find {
    background: url("../images/backgronud/transparent-2.png") no-repeat center center;
    background-size: cover;
    background-color: var(--secondary-color);

    .perfect-tour-wrapper {
        position: relative;

        .flex-direction-nav {
            top: 50%;
            transform: translateY(-50%);
            justify-content: space-between;
            left: -80px;
            width: calc(100% + 160px);

            a {
                width: 58px;
                height: 58px;
                color: var(--primary-color);

                img {
                    filter: brightness(0) saturate(100%) invert(64%) sepia(100%) saturate(268%) hue-rotate(358deg) brightness(88%) contrast(97%);
                }

                &:hover {
                    img {
                        filter: brightness(0) invert(1);
                    }

                }
            }
        }
    }

    .tf-find-tour {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        position: relative;

        .wrap-content {
            position: relative;

            .image-wrap {
                border-radius: 16px;
                position: relative;
                display: block;
                overflow: hidden;
                @include transition3;

                img {
                    border-radius: inherit;
                    height: 604px;
                }

            }

            .content {
                position: absolute;
                opacity: 0;
                left: 50%;
                transform: translateX(-50%);
                width: calc(100% - 50px);
                bottom: 32px;
                z-index: 10;
                text-align: center;
                @include transition3;
                pointer-events: none;
                width: 100%;
                padding: 0 24px;

                .name {
                    margin-bottom: 12px;
                    color: var(--white);
                }

                .description {
                    color: var(--white);
                    margin-bottom: 24px;
                }
            }
        }

        .swiper-slide-active .wrap-content .content {
            opacity: 1;
            pointer-events: auto;
        }


    }
}