.flat-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

//========== Box title==========
.box-title {
    margin-bottom: 50px;



    &.style-1 {
        margin-bottom: 40px;
        max-width: 100%;
    }

    &.style-2 {
        max-width: 640px;
        margin-left: auto;
        margin-right: auto;
    }

    &.style-3 {
        margin-bottom: 30px;
    }

    .title {
        text-transform: capitalize;
        font-weight: 800;
    }

    .desc {
        margin-top: 20px;
    }
}

//========= Destination=========
.tf-destination {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 330px 330px;
    gap: 12px;

    .item:first-child {
        grid-row: span 2;
    }

    .destination-post {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 16px;

        .content {
            position: absolute;
            bottom: 8px;
            left: 50%;
            width: calc(100% - 16px);
            transform: translateX(-50%);
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 8px;
            background: var(--white);
            border-radius: 16px;
            padding: 16px;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

        .group-meta {
            position: absolute;
            bottom: 24px;
            left: 24px;
            display: flex;
            align-items: center;
            gap: 12px;
            z-index: 5;

            .tf-btn {
                padding: 14px 24px;
                background-color: var(--border-header);
                border: var(--border-header);
                backdrop-filter: blur(4px);
                color: var(--white);
                transition: all 0.3s ease;

                img {
                    filter: brightness(0) invert(1);
                }

                &:hover {
                    background-color: var(--primary-color);
                    color: var(--white);

                    img {
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
    }
}

// =============Modal Account=================
.modal-account .modal-dialog .modal-content {
    border-radius: 16px;
    border: 0;
    background: var(--white);
    overflow: hidden;
}

.flat-account {
    display: flex;

    .banner-account {
        max-width: 380px;
        width: 100%;
        flex-shrink: 0;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .logo-overlay {
            position: absolute;
            top: 32px;
            left: 24px;
            width: 168px;
            height: 44px;
            z-index: 2;
        }
    }

    .form-account {
        flex-grow: 1;
        padding: 40px;

        .box {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        .title-box {
            margin-bottom: 40px;
            display: flex;
            justify-content: space-between;

            .icon {
                font-size: 24px;
                cursor: pointer;

            }
        }

        .box-fieldset {
            &:not(:last-child) {
                margin-bottom: 30px;
            }

            label {
                margin-bottom: 10px;
                font-weight: 500;
            }

            .text-forgot {
                margin-top: 18px;
                color: var(--primary-color);
            }
        }

        .ip-field {
            position: relative;

            img {
                filter: brightness(0) saturate(100%) invert(77%) sepia(7%) saturate(117%) hue-rotate(60deg) brightness(92%) contrast(83%);
            }

            .icon {
                position: absolute;
                left: 18px;
                top: 50%;
                transform: translateY(-50%);


            }

            input {
                padding-left: 46px;
            }
        }
    }

    .box-btn {
        .text {
            margin-top: 18px;
        }
    }

    .close-modal {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        font-size: 20px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .close-modal:hover {
        background-color: var(--input-color);
        color: var(--primary-color);
        transform: rotate(90deg);
    }

    .group-btn {
        display: flex;
        gap: 10px;

        .btn-social {
            width: 50%;
            font-weight: 600;
            color: var(--text-color);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 16px;
            border: 1px solid var(--stoke-color);
            border-radius: 16px;

            img {
                width: 20px;
                height: 20px;
            }

            &:hover {
                border-color: var(--primary-color);
            }
        }

    }
}


// ==========Single Tour========================
.tf-single {
    .meta {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        .inner-left {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 24px;

            .rate {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                font-size: 14px;

                .rating {
                    .icon {
                        font-size: 14px;
                    }
                }

                .rating-text {
                    color: var(--heading-color);
                    font-weight: 700;
                }

                .review {
                    color: var(--place-holder);
                    font-weight: 400;
                }
            }

            .destination {
                display: flex;
                align-items: center;
                gap: 8px;

                span {
                    font-size: 14px;
                    line-height: 140%;
                    font-weight: 400;
                    color: var(--text-color);
                }

                img {
                    width: 16px;
                    height: 16px;
                }


            }
        }

        .inner-right {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 24px;

            .action-btn {
                font-size: 14px;
                font-weight: 400;
                line-height: 100%;
                color: var(--text-color);
                display: flex;
                align-items: center;
                gap: 8px;
                transition: color 0.3s ease;

                &:hover {
                    color: var(--primary-color);
                }
            }
        }
    }
}