@use "../abstracts/index.scss" as *;

.flat-latest-hero {
    padding: 123px 0;
    margin: 0 18px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(../../images/backgronud/bg-blog.png);
    background-color: var(--four-color);

    h1,
    .breadcrumb {
        position: relative;
        z-index: 1;
    }

    h1 {
        letter-spacing: 2px;
        margin-top: 16px;
        line-height: 100%;
        font-size: 70px;
        margin-bottom: 12px;
        text-transform: capitalize;
    }



    &.style-2 {
        .breadcrumb {
            margin-top: 0;
            margin-bottom: 16px;
        }
    }


}

.flat-blog-list {

    .flat-blog-item {
        margin-bottom: 56px;

        .content-box {
            margin-top: 28px;
            padding-bottom: 32px;
            border-bottom: 1px solid var(--stoke-color);

            .post-author {
                margin-top: 0px;

                span {
                    gap: 10px;
                    color: var(--text-color);
                    font-size: 16px;

                    img {
                        filter: brightness(0) saturate(100%) invert(72%) sepia(58%) saturate(487%) hue-rotate(346deg) brightness(87%) contrast(97%);
                    }
                }
            }

            .title {
                margin-top: 12px;
                text-transform: capitalize;
            }

            .description {
                margin-top: 18px;
                color: var(--text-color);
                font-weight: 400;
                font-size: 16px;
            }
        }

        .img-style {
            border-radius: 16px;
        }

        .date-post {
            padding: 8px 16px;
            font-size: 14px;
            line-height: 20.23px;
        }

        &:last-child {
            margin-bottom: 26px;
        }
    }
}

.flat-blog-item {

    display: block;



    .detail {
        z-index: 1;
        position: absolute;
        left: 20px;
        top: 20px;
        display: inline-block;
        padding: 6px 12px;
        background-color: var(--primary-color);
        color: var(--white);
        border-radius: 99px;
        letter-spacing: 0.8px;
        font-weight: 600;
    }



    &.style-1 {
        position: relative;
        border-radius: 16px;
        overflow: hidden;

        .img-style {
            border-radius: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .content-box {
            position: absolute;
            z-index: 12;
            bottom: 20px;
            left: 20px;
            right: 20px;

            .title {
                color: var(--white);
                font-size: 24px;
                font-weight: 600;
                line-height: 100%;
            }

            .date-post {
                color: var(--white);
                gap: 8px;
            }

            .read-more {
                margin-top: 12px;
                display: inline-flex;
                align-items: center;
                flex-direction: row;
                gap: 6px;
                font-weight: 600;
                font-size: 16px;
                color: var(--white);
                transition: all 0.3s ease;

                img {
                    font-size: 14px;
                    transition: transform 0.3s ease;
                }

                &:hover {
                    color: var(--primary-color);

                    img {
                        filter: brightness(0) saturate(100%) invert(83%) sepia(69%) saturate(2126%) hue-rotate(321deg) brightness(91%) contrast(89%);
                    }
                }
            }
        }

        .detail {
            left: 20px;
            top: 20px;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            -webkit-transition: all 0.4s ease-out 0s;
            -moz-transition: all 0.4s ease-out 0s;
            -ms-transition: all 0.4s ease-out 0s;
            -o-transition: all 0.4s ease-out 0s;
            transition: all 0.4s ease-out 0s;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65.29%, #000000 100%);

        }
    }
}

.post-author {
    .icon {
        margin-right: 4px;
    }

    span {
        &:not(:first-child) {
            margin-left: 12px;
            padding-left: 12px;
            position: relative;

            &::before {
                position: absolute;
                content: "";
                width: 1px;
                background-color: var(--stoke-color);
                left: 0;
                top: 5px;
                bottom: 5px;
            }
        }
    }

    &.style-1 {
        span {
            color: var(--black);
        }
    }
}


.sidebar-blog {
    .recent {
        ul {
            margin-top: 20px;

            li {
                &:last-child {
                    .recent-post-item {
                        margin-bottom: 0;
                        padding-bottom: 0;
                        border-bottom: 0;
                    }
                }
            }
        }

        .recent-post-item {
            display: flex;
            gap: 10px;
            padding-top: 20px;
            margin-top: 20px;
            border-top: 1px solid var(--stoke-color);

            .img-style {
                border-radius: 12px;
                width: 110px;
                height: 74px;
                flex-shrink: 0;
            }

            .content {
                .subtitle {
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    span {
                        font-size: 12px;
                        line-height: 140%;
                        letter-spacing: 0.8px;
                        color: var(--text-color);
                        margin-top: 10px;


                    }
                }

                .title {

                    font-weight: 600;
                    text-transform: capitalize;
                    font-size: 16px;
                    line-height: 140%;
                }
            }
        }
    }

    .categories {
        ul {
            li {
                &:last-child {
                    .categories-item {
                        padding-bottom: 10px;
                        border: none;
                    }
                }

                &:first-child {
                    .categories-item {
                        padding-top: 10px;
                    }
                }
            }

            .categories-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 4px;
                color: var(--text-color);
                padding: 16px 0px;
                border-bottom: 1px solid var(--stoke-color);
                color: var(--heading-color);

                span {
                    &:first-child {
                        font-size: 18px;
                        line-height: 21.86px;
                        font-weight: 600;
                    }

                    &:last-child {
                        color: var(--place-holder);
                    }
                }
            }
        }
    }


    .newsletter {
        .search-box {
            .search-field {
                padding-right: 44px;
                padding-left: 16px;
            }

            .icon {
                left: unset;
                right: 18px;
            }
        }
    }

    .widget-box {
        margin-top: 40px;
    }

    .content-widget {
        border-radius: 16px;
        overflow: hidden;
        padding: 28px 30px 32px;
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        min-height: 470px;
        width: 100%;
        position: relative;
        background: url(../../images/tours/bg-tour-1.png) no-repeat center center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &::after {
            content: '';
            position: absolute;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        img {
            max-width: 179px;
            position: relative;
            z-index: 1;
        }

        .content {
            position: relative;
            z-index: 1;
        }

        h2 {
            color: var(--white);
            margin-bottom: 15px;
        }

        p {
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 140%;
            color: var(--white);
            margin-bottom: 18px;
        }
    }

}


.tag {
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

    }

    .tag-item {
        padding: 10px 16px;
        border-radius: 99px;
        border: 1px solid var(--stoke-color);
        display: inline-block;

        &:hover {
            color: var(--white);
            background-color: var(--primary-color);
        }
    }
}

.search-box {
    position: relative;
    width: 100%;

    .icon {
        position: absolute;
        font-size: 16px;
        color: var(--icon-color);
        top: 50%;
        transform: translateY(-50%);
        left: 18px;
    }



    .search-field {
        padding-left: 44px;
    }

}


.flat-blog-detail {
    h1 {
        margin-bottom: 16px;
    }

    .meta-blog {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 36px;

        .item {
            display: flex;
            align-items: center;
            gap: 6px;

            img {
                filter: brightness(0) saturate(100%) invert(88%) sepia(0%) saturate(128%) hue-rotate(183deg) brightness(82%) contrast(78%);
            }
        }
    }

    .post-navigation {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 16px 0px;
        border-top: 1px solid var(--border-card);
        border-bottom: 1px solid var(--border-card);

        .previous-post {
            padding-right: 22%;
            position: relative;

            &::after {
                position: absolute;
                content: "";
                width: 1px;
                background-color: var(--border-card);
                right: 0;
                top: 13px;
                bottom: 13px;
            }
        }

        .next-post {
            text-align: right;
            padding-left: 30%;
        }

        .subtitle {
            font-weight: 700;
            color: var(--text-label);
            text-transform: uppercase;
            margin-bottom: 4px;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.8px;
        }
    }

    .wrap-review {
        margin-top: 40px;

        .box-review {
            margin-top: 20px;
        }
    }

    .wrap-form-comment {
        margin-top: 40px;
    }
}

.list-review-item {
    display: flex;
    gap: 20px;

    .avatar {
        flex-shrink: 0;
        border-radius: 14px;
        overflow: hidden;
    }

    .content {
        .content-top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;

            .inner-left {
                display: flex;
                flex-direction: column;

                .name {
                    font-size: 18px;
                    line-height: 25.2px;
                    font-weight: 600;

                }

                .date-post {
                    font-size: 14px;
                    color: var(--text-color);
                }
            }


        }

    }


    .action {
        display: flex;
        align-items: center;
        gap: 16px;

        span {
            color: var(--text-color);
            font-size: 12px;
            line-height: 16.8px;
        }
    }

    &:not(:last-child) {
        .content {
            padding-bottom: 34px;
            margin-bottom: 34px;
            border-bottom: 1px solid var(--stoke-color);
        }
    }

    .box-img-review {
        margin-top: 16px;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;

        .img-review {
            width: 60px;
            height: 60px;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            overflow: hidden;
            background-color: var(--text-color);
        }
    }

    .view-question {
        margin-top: 22px;
        font-weight: 700;
        display: inline-block;
        border-bottom: 1px solid var(--stoke-color);
    }
}

.list-star {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;

    .icon {
        color: var(--star-color);
        font-size: 16px;

        img {
            filter: brightness(0) saturate(100%) invert(82%) sepia(32%) saturate(5285%) hue-rotate(330deg) brightness(97%) contrast(95%);
        }
    }
}

.flat-quote {
    padding: 30px 50px 30px 30px;
    border-radius: 10px;
    background-color: var(--quote-color);
    border-left: 4px solid var(--primary-color);
    color: var(--text-color);



    .author {
        margin-top: 30px;
        display: block;
    }
}



// =========Form===============
.wrap-form-comment {
    .group-ip {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }

    .form-wg {
        margin-top: 20px;
    }
}

.comment-form {
    max-width: 100%;
    margin: 0 auto;

    .form-control,
    textarea {
        border-radius: 16px;
        transition: border-color 0.3s ease;
        background-color: var(--white);
    }

    textarea {
        min-height: 120px;
        resize: vertical;
    }

    .sub-ip {
        display: block;
        font-weight: 600;
        margin-bottom: 8px;
        color: var(--text-color);
    }

}

//============= Action like -unlike ========
.action-btn {
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none;
    opacity: 0.8;

    &:hover {
        span {
            color: var(--primary-color);
            font-weight: 600;

        }

        img {
            filter: brightness(0) saturate(100%) invert(78%) sepia(96%) saturate(1204%) hue-rotate(318deg) brightness(87%) contrast(97%);
        }
    }

    &.active {
        span {
            color: var(--primary-color);
            font-weight: 600;
        }

        img {
            filter: brightness(0) saturate(100%) invert(78%) sepia(96%) saturate(1204%) hue-rotate(318deg) brightness(87%) contrast(97%);
        }
    }
}

.unlike-btn.active {
    span {
        color: var(--heart-color);
        font-weight: 600;
    }

    img {
        filter: brightness(0) saturate(100%) invert(34%) sepia(75%) saturate(1559%) hue-rotate(346deg) brightness(103%) contrast(101%);
    }
}