.footer {
    background-color: var(--background-black);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    .top-footer {

        .content-top-footer {
            gap: 20px;
            flex-wrap: wrap;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid var(--border-icon);
            padding: 60px 0 40px 0;

            .footer-socials {
                .text-social {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 24px;
                    color: var(--white);
                    margin-right: 16px;
                }

                .list-social {
                    span {
                        color: var(--white);
                    }
                }
            }
        }
    }

    .inner-footer {
        padding: 40px 0;
        border-bottom: 1px solid var(--border-icon);

        .widget-box {
            width: 100%;
            height: 100%;
        }

        .widget-info {
            gap: 16px;
            display: flex;
            flex-direction: column;
            margin-bottom: 16px;

            .widget-contact {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 16px;

                .icon {
                    width: 50px;
                    height: 50px;
                    display: -webkit-box;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 16px;
                    border: 1px solid var(--border-icon);

                    img {
                        font-size: 18px;

                    }
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 4px;

                    span {
                        color: var(--terms-color);
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 19.6px;

                    }

                    h4 {
                        color: var(--white);
                    }

                    p {
                        color: var(--white);
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22.4px;
                    }
                }
            }
        }

        .widget-tour {
            .tour-item {
                a {
                    font-size: 16px;
                    color: var(--note-color);
                    line-height: 22.4px;
                    display: flex;
                    align-items: center;
                    gap: 6px;

                    .icon {
                        color: var(--primary-color);
                        font-size: 16px;
                        font-weight: 500;
                    }

                    &:hover {
                        color: var(--primary-color);
                    }
                }
            }
        }

        .widget-newseletter {
            p {
                line-height: 140%;
                font-weight: 400;
                font-size: 16px;
            }

            .input-send {
                background: transparent;
                border: 1px solid var(--border-icon);
                color: var(--terms-color);
                font-style: unset;

                &::placeholder {
                    color: var(--terms-color);
                    opacity: 1;

                }
            }

            .agree-terms {
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: 16px;
                color: var(--terms-color);

                a {
                    color: var(--primary-color);
                    text-decoration: underline;
                }

                input[type="checkbox"] {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    border: 1px solid var(--border-icon);
                    background-color: transparent;
                    transition: all 0.2s ease;
                    position: relative;

                    &:checked {
                        background-color: var(--primary-color);
                        border-color: var(--primary-color);
                    }

                    &:checked::after {
                        content: '';
                        position: absolute;
                        left: 5px;
                        top: 1px;
                        width: 4px;
                        height: 8px;
                        border: solid var(--white);
                        border-width: 0 2px 2px 0;
                        transform: rotate(45deg);
                    }
                }

            }

            .action-download {


                a {
                    background-color: var(--border-header);
                    border: 1px solid var(--border-header);
                    padding: 12px 20px !important;
                    min-width: 150px !important;

                    img {
                        flex-shrink: 0;
                        width: 110px;
                        height: auto;
                        max-width: 100%;
                    }

                    &:hover {
                        border: 1px solid var(--primary-color);
                    }
                }

            }

        }



    }

    .content-bottom {
        padding: 25px 0;
        flex-wrap: wrap;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        .copy-right {
            color: var(--note-color);
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
        }

        .menu-bottom {
            gap: 19px;

            .item-bottom {
                color: var(--note-color);
                font-size: 14px;
                line-height: 24px;
                font-weight: 400;

                &:hover {
                    color: var(--primary-color);
                }
            }
        }

    }
}

.list-social {
    flex-wrap: wrap;
    gap: 12px;
}