@use "../abstracts/index" as *;

// ===============Send email=================
.tf-sendEmail {
    p {
        color: var(--place-holder);
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        margin-bottom: 15px;
    }

    .form-sub {
        position: relative;
        margin-bottom: 10px;

        input[type="email"] {
            padding: 13px 18px;
            border-radius: 16px;
            border: 1px solid #fff3;
            background: transparent;
            line-height: 26px;
            display: inline-block;
            width: 100%;
            margin-bottom: 0;
        }

        input[type="email"]::placeholder {
            color: var(--place-holder);
        }

        button {
            color: var(--place-holder);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
            padding: 0;
            background: transparent;

            &:hover {
                color: var(--primary-color);
                background: transparent;
            }
        }
    }

    .terms {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.6px;
        color: var(--terms-color);

        input[type="checkbox"] {
            position: relative;
            width: 20px;
            height: 20px;
            visibility: hidden;
            margin-right: 10px;
        }

        input[type="checkbox"]::before {
            content: "";
            width: 20px;
            height: 20px;
            border: 1px solid #fff3;
            background: transparent;
            display: block;
            border-radius: 5px;
            opacity: 1;
            z-index: 5;
            visibility: visible;
        }

        input[type="checkbox"]::after {
            content: "";
            height: 6px;
            width: 11px;
            border-left: 2px solid var(--white);
            border-bottom: 2px solid var(--white);
            transform: rotate(--55deg);
            display: block;
            opacity: 0;
            z-index: 5;
            visibility: hidden;
            position: absolute;
            left: 5px;
            top: 6px;
        }

        input[type="checkbox"]:checked::before {
            background: var(--primary-color);
            border-color: var(--primary-color);
        }

        input[type="checkbox"]:checked::after {
            opacity: 1;
            visibility: visible;
        }



    }

}


// ==============Form search================
.tf-formSearch {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 30;


    .tf-search-form-inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: transparent;
        position: relative;

        .search-box {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 12px;
            background: transparent;
            border-radius: 24px;
            max-width: 1280px;
            width: 100%;
            margin: 0 auto;
            position: relative;
            height: 96px;

            .search-group {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 12px;
                flex-wrap: wrap;

                .search-inner {
                    width: 234.5px;
                    padding: 24px;
                    background: var(--white);
                    border-radius: 16px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 8px;
                    border: 1px solid var(--stoke-color);
                    transition: all 0.3s ease;
                    height: 100%;
                    cursor: pointer;

                    &:hover {
                        border-color: var(--primary-color);
                        box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
                    }

                    .title-field {
                        color: var(--heading-color);
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 100%;
                    }

                    .inner-selected {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;

                        .default-title {
                            font-size: 14px;
                            line-height: 140%;


                        }

                        .icon {
                            font-size: 16px;
                            color: var(--text-color);
                            pointer-events: none;
                            transform: none;
                            position: static;
                        }


                        // .sub-menu {
                        //     position: absolute;
                        //     top: 100%;
                        //     left: 0;
                        //     max-width: 280px;
                        //     width: 100%;
                        //     background: var(--white);
                        //     border-radius: 8px;
                        //     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
                        //     list-style: none;
                        //     padding: 0;
                        //     margin: 0;
                        //     opacity: 0;
                        //     visibility: hidden;
                        //     transform: translateY(8px);
                        //     z-index: 10;
                        //     transition: all 0.3s ease;

                        //     &.active {
                        //         opacity: 1;
                        //         visibility: visible;
                        //         transform: translateY(0);
                        //     }

                        //     .sub-item {
                        //         cursor: pointer;

                        //         a {
                        //             display: block;
                        //             padding: 12px 16px;
                        //             font-size: 14px;
                        //             color: var(--text-color);
                        //             transition: all 0.2s ease;

                        //             &:hover {
                        //                 background: var(--primary-color);
                        //                 color: var(--white);
                        //             }

                        //             &.active {

                        //                 background: var(--primary-color);
                        //                 color: var(--white);
                        //             }
                        //         }
                        //     }
                        // }

                    }


                    // &.active~.sub-menu .icon-CaretDown {
                    //     transform: rotate(180deg);
                    // }

                    input,
                    select {
                        border: none;

                        font-size: 14px;
                        width: 100%;
                        color: var(--text-color);

                        padding: 0 !important;
                        border-radius: 0px !important;
                    }
                }


                .search_advanced_field {
                    width: 96px;
                    height: 96px;
                    @include flex(center, center);


                    img {
                        width: 24px;
                        height: 24px;
                    }

                }

                .btn-search {
                    .tf-btn {
                        padding: 36px 54px;

                        .icon {
                            font-size: 24px;
                        }
                    }
                }

            }
        }
    }
}