@use "../abstracts/index" as *;

// ===============Send email=================
.tf-sendEmail {
    p {
        color: var(--place-holder);
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        margin-bottom: 15px;
    }

    .form-sub {
        position: relative;
        margin-bottom: 10px;

        input[type="email"] {
            padding: 13px 18px;
            border-radius: 16px;
            border: 1px solid #fff3;
            background: transparent;
            line-height: 26px;
            display: inline-block;
            width: 100%;
            margin-bottom: 0;
        }

        input[type="email"]::placeholder {
            color: var(--place-holder);
        }

        button {
            color: var(--place-holder);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
            padding: 0;
            background: transparent;

            &:hover {
                color: var(--primary-color);
                background: transparent;
            }
        }
    }

    .terms {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.6px;
        color: var(--terms-color);

        input[type="checkbox"] {
            position: relative;
            width: 20px;
            height: 20px;
            visibility: hidden;
            margin-right: 10px;
        }

        input[type="checkbox"]::before {
            content: "";
            width: 20px;
            height: 20px;
            border: 1px solid #fff3;
            background: transparent;
            display: block;
            border-radius: 5px;
            opacity: 1;
            z-index: 5;
            visibility: visible;
        }

        input[type="checkbox"]::after {
            content: "";
            height: 6px;
            width: 11px;
            border-left: 2px solid var(--white);
            border-bottom: 2px solid var(--white);
            transform: rotate(--55deg);
            display: block;
            opacity: 0;
            z-index: 5;
            visibility: hidden;
            position: absolute;
            left: 5px;
            top: 6px;
        }

        input[type="checkbox"]:checked::before {
            background: var(--primary-color);
            border-color: var(--primary-color);
        }

        input[type="checkbox"]:checked::after {
            opacity: 1;
            visibility: visible;
        }



    }

}


// ==============Form search================
.tf-formSearch {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 30;


    .tf-search-form-inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: transparent;
        position: relative;

        .search-box {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 12px;
            background: transparent;
            border-radius: 24px;
            max-width: 1280px;
            width: 100%;
            margin: 0 auto;
            position: relative;
            height: 96px;

            .search-group {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 12px;
                flex-wrap: wrap;

                .search-inner {
                    width: 234.5px;
                    padding: 24px;
                    background: var(--white);
                    border-radius: 16px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 8px;
                    border: 1px solid var(--stoke-color);
                    transition: all 0.3s ease;
                    height: 100%;
                    cursor: pointer;

                    &:hover {
                        border-color: var(--primary-color);
                        box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
                    }

                    .title-field {
                        color: var(--heading-color);
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 100%;
                    }

                    .inner-selected {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;

                        .default-title {
                            font-size: 14px;
                            line-height: 140%;


                        }

                        .icon {
                            font-size: 16px;
                            color: var(--text-color);
                            pointer-events: none;
                            transform: none;
                            position: static;
                        }


                        // .sub-menu {
                        //     position: absolute;
                        //     top: 100%;
                        //     left: 0;
                        //     max-width: 280px;
                        //     width: 100%;
                        //     background: var(--white);
                        //     border-radius: 8px;
                        //     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
                        //     list-style: none;
                        //     padding: 0;
                        //     margin: 0;
                        //     opacity: 0;
                        //     visibility: hidden;
                        //     transform: translateY(8px);
                        //     z-index: 10;
                        //     transition: all 0.3s ease;

                        //     &.active {
                        //         opacity: 1;
                        //         visibility: visible;
                        //         transform: translateY(0);
                        //     }

                        //     .sub-item {
                        //         cursor: pointer;

                        //         a {
                        //             display: block;
                        //             padding: 12px 16px;
                        //             font-size: 14px;
                        //             color: var(--text-color);
                        //             transition: all 0.2s ease;

                        //             &:hover {
                        //                 background: var(--primary-color);
                        //                 color: var(--white);
                        //             }

                        //             &.active {

                        //                 background: var(--primary-color);
                        //                 color: var(--white);
                        //             }
                        //         }
                        //     }
                        // }

                    }


                    // &.active~.sub-menu .icon-CaretDown {
                    //     transform: rotate(180deg);
                    // }

                    input,
                    select {
                        border: none;

                        font-size: 14px;
                        width: 100%;
                        color: var(--text-color);

                        padding: 0 !important;
                        border-radius: 0px !important;
                    }
                }


                .search_advanced_field {
                    width: 96px;
                    height: 96px;
                    @include flex(center, center);


                    img {
                        width: 24px;
                        height: 24px;
                    }

                }

                .btn-search {
                    .tf-btn {
                        padding: 36px 54px;

                        .icon {
                            font-size: 24px;
                        }
                    }
                }

            }
        }
    }
}

// ==============Form Select================

.form-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white);
    border-radius: 16px;
    padding: 16px 24px;
    box-shadow: 0px 4px 26px 0px #42474C14;
    gap: 48px;
    flex-direction: row;


    .inner-group {

        flex-wrap: nowrap;
        flex-grow: 1;
        display: flex;
        flex-direction: row;


        .form-group {
            padding: 0 24px;
            border-right: 1px solid var(--stoke-color);
            position: relative;

            label {
                font-weight: 600;
                font-size: 16px;
                line-height: 100%;
                color: var(--heading-color);

            }

            input {
                padding: 0;
                border: none;
                border-radius: 0px;
                font-size: 14px;
                line-height: 140%;
            }

            .group-select {


                .select-items {


                    .current {
                        font-weight: 400;
                        line-height: 140%;
                        font-size: 14px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        white-space: nowrap;
                        width: 100%;
                        color: var(--text-color);
                        position: relative;
                        cursor: pointer;
                        gap: 20px;

                        .icon {
                            font-size: 16px;
                        }
                    }

                    .list {
                        background-color: var(--white);
                        border-radius: 5px;
                        box-sizing: border-box;
                        margin-top: 4px;
                        opacity: 0;
                        box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
                        overflow-y: auto;
                        pointer-events: none;
                        position: absolute;
                        top: calc(100% + 20px);
                        left: 0px;
                        transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
                        z-index: 99;
                        width: 100%;
                        min-width: 280px;
                        font-size: 16px;

                        // &::before {
                        //     content: "";
                        //     position: absolute;
                        //     border-top: 15px solid var(--white);
                        //     border-right: 15px solid transparent;
                        //     transform: rotate(45deg);
                        //     bottom: calc(100% - 8px);
                        // }

                        &.active {
                            opacity: 1;
                            pointer-events: auto;
                            max-height: 400px;
                            padding: 5px 0 !important;


                        }

                        .option {
                            list-style: none;

                            .selected {
                                font-size: 16px;
                                font-weight: 600;
                                line-height: 100%;

                            }

                            a {
                                padding: 16px 24px;
                                display: flex;

                                gap: 8px;
                                transition: background-color 0.2s ease;
                                color: var(--heading-color);



                                &:hover {
                                    background-color: var(--primary-color);

                                    .content {

                                        .place,
                                        .country,
                                        .type {
                                            color: var(--white);
                                        }
                                    }

                                    img {
                                        filter: brightness(0) invert(1);

                                    }
                                }

                                .icon {
                                    width: 20px;
                                    height: 20px;
                                    flex-shrink: 0;
                                }

                                .content {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 4px;

                                    .place,
                                    .type {
                                        font-weight: 600;
                                        font-size: 16px;
                                        line-height: 100%;
                                        color: var(--heading-color);
                                        transition: color 0.2s ease;
                                    }

                                    .country {
                                        font-weight: 400;
                                        font-size: 14px;
                                        line-height: 140%;
                                        color: var(--text-color);
                                        transition: color 0.2s ease;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .form-group:first-child {
            padding-left: 0;
        }

    }

    .box-btn-filter {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;

        .tf-btn {
            cursor: pointer;
            padding: 17px;
            min-width: 54px;

        }
    }
}