@use "../abstracts/index.scss" as *;

.header {
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    font-weight: 500;
    line-height: 140%;
    font-size: 16px;
    color: var(--heading-color);

    .header-wrap {
        display: flex;
        align-items: center;
        padding: 15px 0;
    }

    .header-ct-left,
    .header-ct-center,
    .header-ct-right {
        flex-grow: 1;

    }

    .header-ct-center {
        .inner-center {
            display: flex;
            align-items: center;
            position: relative;
        }
    }

    .header-ct-right {
        flex-shrink: 0;

        .wrap-login-menu ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;

            a {
                &:hover {
                    color: var(--primary-color);
                }
            }

            .icon {
                font-size: 24px;
            }
        }
    }

    .menu-item {
        color: var(--heading-color);
        padding: 16px 0;
        position: relative;

        &:hover>a .icon {
            transform: rotate(180deg);
        }

        a {
            display: flex;
            align-items: center;
            gap: 6px;

            color: var(--heading-color);
            @include transition3;

            &:hover {
                color: var(--primary-color);
            }
        }

        .icon {
            font-size: 16px;
            transition: transform 0.3s ease;
        }

        &:hover>.sub-menu {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }

    .nav-link {
        height: 100%;
        font-size: 16px;
        color: var(--text-dark);
        font-weight: 600;
    }

    .nav-link::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 10px;
        width: 0;
        height: 2px;
        background-color: var(--primary-color);
        transition: width 0.8s ease;
    }

    .menu-item:hover>.nav-link::before {
        width: 100%;
    }
}

.style-1 {
    background: transparent;
    box-shadow: none;
    border-bottom: 1px solid var(--stoke-color);

    .header-wrap {
        display: flex;
        align-items: center;
        padding: 15px 0;
    }
}

.style-2 {
    background: transparent;
    box-shadow: none;
    border-bottom: 1px solid var(--stoke-color);

    .header-wrap {
        display: flex;
        align-items: center;
        padding: 34px 0;
    }

    .list-nav {
        border: 1px solid var(--border-header);
        background: var(--background-dark);
        border-radius: 16px;
        backdrop-filter: blur(4px);
        padding: 0 5px;
    }
}

.menu-nav {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    gap: 32px;

    .sub-menu {
        position: absolute;
        top: calc(100% + 19px);
        left: 0;
        min-width: 222px;
        background: var(--white);
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
            rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        border-radius: 0 0 6px 6px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(12px);
        transition: all 0.3s ease;
        z-index: 999;
        list-style: none;
        margin: 0;
        padding: 8px 0;

        .sub-item {
            padding: 8px 16px;

            a {
                display: block;
                color: var(--heading-color);
                @include transition3;

                &:hover {
                    color: var(--primary-color);
                    transform: translateX(4px);
                }
            }
        }
    }
}

.toggle-mobile {
    cursor: pointer;
    display: none;
    @include transition4;

    .icon {
        font-size: 24px;
        align-items: center;

    }

    &:hover {
        color: var(--primary-color);
    }
}

.header.scrolled {
    position: fixed;
    background: var(--white);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-bottom: 1px solid var(--stoke-color);
    animation: slideDown 0.3s ease;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}