@use "../abstracts/index.scss" as *;

.header {
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    font-weight: 500;
    line-height: 140%;
    font-size: 16px;
    color: var(--heading-color);

    .header-wrap {
        display: flex;
        align-items: stretch;
    }

    .header-ct-left,
    .header-ct-center,
    .header-ct-right {
        flex-grow: 1;
        height: 100%;

    }

    .header-ct-center {
        .inner-center {
            display: flex;
            align-items: center;
            position: relative;
        }
    }

    .header-ct-right {
        flex-shrink: 0;

        .wrap-login-menu ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;

            a {
                &:hover {
                    color: var(--primary-color);
                }
            }

            .icon {
                font-size: 24px;
            }
        }
    }

    .menu-item {
        color: var(--heading-color);
        padding: 16px 0;
        position: relative;

        &:hover>a .icon {
            transform: rotate(180deg);
        }

        a {
            display: flex;
            align-items: center;
            gap: 6px;

            color: var(--heading-color);
            @include transition3;

            &:hover {
                color: var(--primary-color);
            }
        }

        .icon {
            font-size: 16px;
            transition: transform 0.3s ease;
        }

        &:hover>.sub-menu {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }

    .nav-link {
        height: 100%;
        font-size: 16px;
        font-weight: 600;
    }

    .nav-link::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 10px;
        width: 0;
        height: 2px;
        background-color: var(--primary-color);
        transition: width 0.8s ease;
    }

    .menu-item:hover>.nav-link::before {
        width: 100%;
    }
}

.style-1 {
    background: transparent;
    box-shadow: none;
    border-bottom: 1px solid var(--stoke-color);

    .header-wrap {
        align-items: center;
        padding: 15px 0;
    }
}

.style-2 {
    background: transparent;
    box-shadow: none;
    border-bottom: 1px solid var(--stoke-color);

    .header-wrap {
        display: flex;
        align-items: center;
        padding: 34px 0;
    }

    .list-nav {
        border: 1px solid var(--border-header);
        background: var(--background-dark);
        border-radius: 16px;
        backdrop-filter: blur(4px);
        padding: 0 5px;
    }
}

.menu-nav {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    align-items: center;
    gap: 32px;
    white-space: nowrap;


    .sub-menu,
    .mega-menu {
        position: absolute;
        top: calc(100% + 28px);
        background: var(--white);
        border-radius: 12px;
        opacity: 0;
        transform: translateY(12px);
        transition: all 0.3s ease;
        z-index: 999;
        visibility: hidden;
    }

    .mega-menu::before,
    .sub-menu::before {
        content: "";
        position: absolute;
        border-top: 15px solid var(--white);
        border-right: 15px solid transparent;
        transform: rotate(45deg);
        bottom: calc(100% - 9px);

    }

    .sub-menu {
        left: 0;
        min-width: 222px;
        list-style: none;
        padding: 8px 0;

        .sub-item {
            padding: 8px 16px;

            a {
                &:hover {
                    color: var(--primary-color);
                    transform: translateX(4px);
                }
            }
        }
    }

    .sub-menu::before {
        left: 20px;
    }

    .mega-menu {
        left: 50%;
        transform: translateX(-50%) translateY(12px);
        width: 1100px;
        max-width: 90vw;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
        padding: 32px 40px;



        .mega-title {
            font-size: 18px;
            margin-bottom: 12px;
        }

        .mega-col ul li a {
            display: block;
            padding: 6px 0;
            color: var(--heading-color);
            @include transition3;

            &:hover {
                color: var(--primary-color);
                transform: translateX(4px);
            }
        }

    }

    .mega-menu::before {
        left: 49%;
    }



    .menu-item:hover .mega-menu {
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%) translateY(0);

    }
}

.toggle-mobile {
    cursor: pointer;
    display: none;
    @include transition4;

    .icon {
        font-size: 24px;
        align-items: center;

    }

    &:hover {
        color: var(--primary-color);
    }
}

.header.scrolled {
    position: fixed;
    background: var(--white);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-bottom: 1px solid var(--stoke-color);
    animation: slideDown 0.3s ease;
}



// =============Mobile Menu====================
.mobile-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 82%;
    max-width: 380px;
    height: 100vh;
    background-color: var(--white);
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.15);
    transition: left 0.4s ease;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 20px 10px 100px 30px;

    .inner-menu {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid var(--stoke-color);
        margin: 20px 0;

        .nav-item {
            display: flex;
            flex-direction: column;

            .mobile-dropdown {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 12px 0;
                font-weight: 600;
                font-size: 18px;
                color: var(--heading-color);
                cursor: pointer;
                transition: color 0.3s ease;


                &:hover {
                    color: var(--primary-color);
                }
            }

            .mb-sub-menu {
                display: none;
                flex-direction: column;
                padding: 0 16px;
                background-color: var(--secondary-color);
                border-radius: 16px;

                li {
                    padding: 5px 0;
                }

                .sub-link {
                    padding: 8px 0;
                    font-size: 16px;
                    color: var(--heading-color);
                    transition: color 0.3s ease;
                }

                .sub-item {
                    .has-sub {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;
                        font-weight: 600;
                        color: var(--heading-color);
                        transition: color 0.3s ease;

                        &:hover {
                            color: var(--primary-color);
                        }

                        .sub-icon {
                            font-size: 14px;
                            transition: transform 0.3s ease;
                        }
                    }

                    .mb-sub-sub-menu {
                        display: none;
                        flex-direction: column;
                        padding-left: 16px;
                        background-color: var(--three-color);
                        border-radius: 8px;

                        li {
                            padding: 4px 0;

                            a {
                                font-size: 15px;
                                color: var(--heading-color);
                                transition: color 0.3s ease;

                                &:hover {
                                    color: var(--primary-color);
                                }
                            }
                        }
                    }
                }

                .sub-item.open>.mb-sub-sub-menu {
                    display: flex;
                    animation: slideDown 0.3s ease;
                }

                .sub-item.open .sub-icon {
                    transform: rotate(180deg);
                }
            }


        }

        .nav-item.active .mb-sub-menu {
            display: flex;
            animation: slideDown 0.3s ease;
        }

    }

    .logo {
        border-bottom: 1px solid var(--stoke-color);
        padding-bottom: 10px;
    }
}

.mobile-menu.active {
    left: 0;
}

// =============Animate========================
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-6px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 9998;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

// =================Close Button==================
.close-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10000;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--primary-color);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    span {
        font-size: 18px;
        color: var(--white);
    }
}

.close-btn.active {
    opacity: 1;
    visibility: visible;
}

// ==================Info===================
.inner-info {
    padding-bottom: 50px;

    .title-info {
        font-size: 20px;
        font-weight: 500;
        line-height: 25.2px;
        color: var(--heading-color);
        margin-bottom: 16px;
    }

    .list-info {
        gap: 14px;

        .icon {
            width: 24px;
            height: 24px;
            font-size: unset;

            img {
                filter: brightness(0) saturate(100%) invert(76%) sepia(0%) saturate(6797%) hue-rotate(149deg) brightness(94%) contrast(86%);
                width: 24px;
                height: 24px;

            }
        }

        .phone {
            a {
                font-size: 18px;
                font-weight: 600;
                line-height: 22.68px;
                color: var(--primary-color);
            }
        }

        .content {
            .label {
                color: var(--text-color);
            }
        }
    }

    .list-info a,
    .list-info p {
        color: var(--heading-color);
        font-size: 14px;
        font-weight: 400;
        line-height: 19.6px;
    }

    .list-info>div {
        display: flex;
        align-items: flex-start;
    }

    .list-info>div .content {
        padding-left: 10px;
        margin-left: 10px;
        border-left: 1px solid var(--stoke-color);
        flex: 1;
    }

}