.range-target,
.range-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.range-target {
    position: relative;
    direction: ltr;
}

.range-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    background: #E7F0FF;
}

.range-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}

.range-handle {
    position: relative;
    z-index: 1;
}

.range-stacking .range-handle {
    z-index: 10;
}

.range-state-tap .range-origin {
    transition:
        left 0.3s,
        top 0.3s;
}

.range-state-drag * {
    cursor: inherit !important;
}

.range-base,
.range-handle {
    transform: translate3d(0, 0, 0);
}

.range-horizontal {
    height: 4px;
}

.range-horizontal .range-handle {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--primary-color);
    border: 2px solid var(--white);
    cursor: pointer;
}

.caption {
    margin-bottom: 10px;
}

/* Styling */
.range-background {
    background: #E7F0FF;
}

.range-connect {
    background: var(--primary-color);
    transition: background 450ms;
}

.range-origin {
    border-radius: 0px;
}

.range-target {
    width: 100%;
    padding-right: 15px;
}

/* Handles and cursors */
.range-draggable {
    cursor: w-resize;
}

.range-vertical .range-draggable {
    cursor: n-resize;
}

.range-handle {
    cursor: default;
    box-sizing: border-box !important;
}

/* Disabled state */
[disabled].range-connect,
[disabled] .range-connect {
    background: #b8b8b8;
}

[disabled].range-origin,
[disabled] .range-handle {
    cursor: not-allowed;
}

.slider-labels .caption {
    font-weight: 500;
    font-size: 16px;
}