/* ============ Updated noUiSlider CSS ============ */



.noUi-target {
    direction: ltr;
    background: #E7F0FF !important;
    height: 4px !important;
}


/* Connects */
.noUi-connects {
    position: relative;
    height: 100%;
    z-index: 1;
    border-radius: 2px;
}

.noUi-connect {
    background: var(--primary-color) !important;
    border-radius: 2px;
}

/* Handles */
.noUi-handle {
    width: 18px !important;
    height: 18px !important;
    border-radius: 50% !important;
    background: var(--primary-color) !important;
    border: 2px solid var(--white) !important;
    cursor: pointer !important;
    z-index: 2;
    transform: translate(-50%, -50%) !important;
    top: 50% !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
}

.noUi-handle:focus {
    outline: none;
}




/* Disabled state */
.noUi-state-drag * {
    cursor: inherit !important;
}

[disabled].noUi-connect,
[disabled] .noUi-connect {
    background: #b8b8b8;
}

[disabled].noUi-origin,
[disabled] .noUi-handle {
    cursor: not-allowed;
}


.slider-labels .caption {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
}

.noUi-handle:before,
.noUi-handle:after {
    content: none !important;
    display: none !important;
}