@use "../abstracts/index.scss" as *;

.nav-tab {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;
    @include transition3;
    gap: 12px;

    .nav-link-item {
        font-weight: 500;
        color: var(--text-color);
        background-color: var(--white);
        border: 1px solid var(--stoke-color);
        border-radius: 999px;
        padding: 12px 24px;
        text-wrap: nowrap;
        position: relative;
        flex-shrink: 0;
        white-space: nowrap;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;


        &.active,
        &:hover {
            background-color: var(--primary-color);
            color: var(--white);
            border-color: var(--primary-color);
        }
    }

    .nav-tab-item {
        position: relative;
        flex-shrink: 0;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;

        .total-tour {
            visibility: hidden;
            opacity: 0;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            line-height: 140%;
            background-color: var(--heading-color);
            color: var(--white);
            text-align: center;
            border-radius: 999px;
            padding: 6px 18px;
            white-space: nowrap;
            position: absolute;
            z-index: 10;
            bottom: 100%;
            left: 50%;
            transform: translate(-50%, 0px);
            pointer-events: none;
            @include transition3;

            &::after {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                border: 5px solid transparent;
                border-top-color: var(--heading-color);
            }
        }

        &:hover .total-tour {
            visibility: visible;
            opacity: 1;
            transform: translate(-50%, -8px);
        }
    }
}